# Definition for the kafka instance type
# Specifies which bootstrap script to run to set up this instance type and which roles
# to apply to this instance type

heat_template_version: 2015-04-30

parameters:
  Flavor:
    description: Flavor of the kafka server
    type: string
    default: ec2.m3.xlarge
  KeyName:
    description: Name of an existing ssh keypair
    type: string
  pnda_private_network:
    description: Private network for pnda deployment
    type: string
  pnda_private_subnet:
    description: Private network for pnda deployment
    type: string
  pnda_ingest_subnet:
    description: Private network for pnda deployment
    type: string
  Image:
    type: string
  name:
    type: string
  NodeIndex:
    type: number
    default: 0
  pnda_security_group_pnda:
    type: string
  pnda_security_group_kafka_ingest:
    type: string
  cluster_name:
    type: string
  pnda_flavor:
    type: string
    default: standard
  logvolume_size:
    type: number
    default: 120
  signal_transport:
    type: string
    default: TEMP_URL_SIGNAL
  software_config_transport:
    type: string
    default: POLL_TEMP_URL
  pnda_internal_network:
    type: string
    default: ''
  pnda_ingest_network:
    type: string
    default: ''

resources:
  kafka_port:
    type: OS::Neutron::Port
    properties:
      network: { get_param: pnda_private_network }
      fixed_ips:
        - subnet_id: { get_param: pnda_private_subnet }
      security_groups: [{ get_param: pnda_security_group_pnda  }]

  kafka_ingest_port:
    type: OS::Neutron::Port
    properties:
#     network: { get_param: pnda_ingest_network }
      network: { get_param: pnda_private_network }
      fixed_ips:
        - subnet_id: { get_param: pnda_ingest_subnet }
      security_groups: [{ get_param: pnda_security_group_kafka_ingest }]

  logvolume:
    type: OS::Cinder::Volume
    properties:
      size: { get_param: logvolume_size }
      description: Volume for kafka logs

  logvolume_attachment:
    type: OS::Cinder::VolumeAttachment
    properties:
      volume_id: { get_resource: logvolume }
      instance_uuid: { get_resource: kafka_server }


  kafka_server:
    type: OS::Nova::Server
    properties:
      name: { get_param: name }
      image: { get_param: Image }
      flavor: { get_param: Flavor }
      key_name: { get_param: KeyName }
      networks:
        - port: { get_resource: kafka_port }
        - port: { get_resource: kafka_ingest_port }
outputs:
  port_resource:
    description: Heat resource handle for the Neutron port
    value:
      { get_resource: port }
  server_resource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: kafka_server}
  hosts_entry:
    description: >
      Server's IP address and hostname in the /etc/hosts format
    value:
      str_replace:
        template: |
          PRIMARYIP PRIMARYHOST
        params:
          PRIMARYIP: {get_attr: [kafka_server, first_address]}
          PRIMARYHOST: {get_attr: [kafka_server, name]}
