# Definition for the opentsdb instance type
# Specifies which bootstrap script to run to set up this instance type and which roles
# to apply to this instance type

heat_template_version: 2015-04-30

parameters:
  Flavor:
    description: Flavor of the opentsdb server
    type: string
    default: ec2.m3.xlarge
  KeyName:
    description: Name of an existing ssh keypair
    type: string
  pnda_private_network:
    description: Private network for pnda deployment
    type: string
  pnda_private_subnet:
    description: Private network for pnda deployment
    type: string
  Image:
    type: string
  name:
    type: string
  NodeIndex:
    type: number
    default: 0
  pnda_security_group_pnda:
    type: string
  volume_size:
    type: number
    default: 200
  cluster_name:
    type: string
  pnda_flavor:
    type: string
    default: standard
  signal_transport:
    type: string
    default: TEMP_URL_SIGNAL
  software_config_transport:
    type: string
    default: POLL_TEMP_URL

resources:
  opentsdb_port:
    type: OS::Neutron::Port
    properties:
      network: { get_param: pnda_private_network  }
      fixed_ips:
        - subnet_id: { get_param: pnda_private_subnet  }
      security_groups: [{ get_param: pnda_security_group_pnda }]

  opentsdb_server:
    type: OS::Nova::Server
    properties:
      name: { get_param: name }
      image: { get_param: Image }
      flavor: { get_param: Flavor }
      key_name: { get_param: KeyName }
      networks:
        - port: { get_resource: opentsdb_port }

outputs:
  port_resource:
    description: Heat resource handle for the Neutron port
    value:
      { get_resource: opentsdb_port }
  server_resource:
    description: Heat resource handle for the Nova compute server
    value:
      {get_resource: opentsdb_server}
  hosts_entry:
    description: >
      Server's IP address and hostname in the /etc/hosts format
    value:
      str_replace:
        template: |
          PRIMARYIP PRIMARYHOST
        params:
          PRIMARYIP: {get_attr: [opentsdb_server, first_address]}
          PRIMARYHOST: {get_attr: [opentsdb_server, name]}
